{% extends 'base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
    <h2>{{ book.title }}</h2>
    <p><strong>Жанр:</strong> {{ book.genre }}</p>
    <p><strong>Автор:</strong> {{ book.author.full_name }}</p>
    <p><strong>Описание:</strong> {{ book.description }}</p>
    <p><strong>Дата публикации:</strong> {{ book.publish_date }}</p>
    <p><strong>Средний рейтинг:</strong> {{ book.average_rating }}</p>

    {% if user.is_authenticated %}
    <form action="{% url 'add_to_favorite' book.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            {% if is_favorited %}
                Удалить из избранного
            {% else %}
                Добавить в избранное
            {% endif %}
        </button>
    </form>
    {% endif %}
</div>

<div class="container mt-4 mb-4">
    <h4>Отзывы</h4>
    <ul class="list-group">
        {% for review in book.reviews.all %}
        <li class="list-group-item">
            <strong>{{ review.user.username }}</strong>: {{ review.text }} (Рейтинг: {{ review.rating }})
        </li>
        {% empty %}
        <li class="list-group-item">Пока нет отзывов для этой книги.</li>
        {% endfor %}
    </ul>
</div>
<hr>
<div class="container mt-4 mb-4">
    <h4>Оставить отзыв</h4>
    <!-- Форма для добавления отзыва -->
    {% if user.is_authenticated %}
    <form method="post" action="{% url 'add_review' book.pk %}">
        {% csrf_token %}
        
        <div class="form-group">
            {{ review_form.rating.label_tag }}
            {{ review_form.rating }}
        </div>
        
        <div class="form-group">
            {{ review_form.text.label_tag }}
            {{ review_form.text }}
        </div>
        
        <button type="submit" class="btn btn-primary">Оставить отзыв</button>
    </form>
    {% endif %}
</div>

<style>
    /* Добавьте свои пользовательские стили здесь, если необходимо */
</style>

{% endblock %}
