{% extends 'base.html' %}
{% load static %}
{% block title %} Главная страница {% endblock %}
{% block content %}
<form method="GET" action="">
    <div class="row">
        <div class="col-md-3">
            <label for="genre">Жанр</label>
            <select class="form-control" id="genre" name="genre">
                <option value="">Выберите жанр</option>
                {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.genre_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label for="author">Автор</label>
            <select class="form-control" id="author" name="author">
                <option value="">Выберите автора</option>
                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label for="date_from">Дата от</label>
            <input type="date" class="form-control" id="date_from" name="date_from">
        </div>
        <div class="col-md-3">
            <label for="date_to">Дата до</label>
            <input type="date" class="form-control" id="date_to" name="date_to">
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3" data-ajax onclick="filterBooks()">Фильтровать</button>
</form>

<hr>

<div class="row">
    
    {% for book in books %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Название: {{ book.title }}</h5>
                <p class="card-text">Жанр: {{ book.genre }}</p>
                <p class="card-text">Автор: {{ book.author }}</p>
                <p class="card-text">Средний рейтинг: {{ book.average_rating }}</p>
                <p class="card-text"><small class="text-muted">В избранном</small></p>
                <a href="{% url 'book_detail' book.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>

{% for book in books %}
    <div>
        {{ book.title }}
        {% if book.is_favorite %}
            <span>В избранном</span>
            <a href="{% url 'remove_from_favorites' book.id %}">Удалить из избранного</a>
        {% else %}
            <a href="{% url 'add_to_favorites' book.id %}">Добавить в избранное</a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}

